.jn-button{
  border:solid 3px #6A6A6A;
  width:130px;
  border-radius:40px;
  color:#FFFFFF;
  background-color:#161616;
  text-align:center;
  padding:10px;
  cursor:pointer;
}
@media only screen and (max-width: 767px){
  .jn-button{
    border:solid 2px #6A6A6A;
    width:110px;
    font-family: 'Open Sans';
    font-size: 14px;
  }
}
