:host{
  cursor:pointer;
  width:115px;
  height:65px;
}
.domi{
  width: 100px;
  height: 50px;
}
@media only screen and (max-width: 767px){
  .domi{
    width: 77px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .domi{
    width: 90px;
    height: 45px;
  }

}
